<div class="container mt-4">
    <h2 class="text-center">Employee Dashboard</h2>
    
  
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by Name..."
        (input)="onQuickFilterChanged($event)" 
      />
    </div>
  
   
    <ag-grid-angular
      style="width: 100%; height: 500px;"
      class="ag-theme-alpine"
      [modules]="modules"
      [rowData]="rowData" 
      [columnDefs]="columnDefs"
      rowSelection="multiple"
      [animateRows]="true"
      [pagination]="true"
      [paginationPageSize]="5"
      [domLayout]="'autoHeight'">
    </ag-grid-angular>
  </div>